.p-inputgroup {
  box-shadow: var(--p-inputtext-shadow);
}

.p-inputgroupaddon {
  background: transparent !important;
}

.p-inputgroupaddon + .p-inputtext {
  border-right-color: transparent !important;
  box-shadow: none !important;
}

.p-inputgroupaddon {
  transition-duration: 300ms !important;
}

.p-inputtext:enabled:hover {
  border-color: var(--p-inputtext-hover-border-color) !important;
}

.p-inputtext:enabled:focus {
  border-color: var(--p-inputtext-focus-border-color) !important;
}

.p-inputgroupaddon :has(~ .p-inputtext:hover),
.p-inputtext:hover ~ .p-inputgroupaddon {
  border-color: var(--p-inputtext-hover-border-color);
}

.p-inputgroupaddon:first-child,
.p-inputgroupaddon + .p-inputgroupaddon {
  border-inline-start-color: transparent !important;
}

.p-inputgroupaddon :has(~ .p-inputtext:focus),
.p-inputtext:focus ~ .p-inputgroupaddon {
  border-color: var(--p-inputtext-focus-border-color);
}
.p-paginator-page.p-paginator-page-selected {
  color: var(--color-dark-bg-2) !important;
}

.p-inputgroup {
  .p-inputgroupaddon + .p-inputtext,
  .p-inputtext:has(+ .p-inputgroupaddon) {
    box-shadow: none !important;
  }

  .p-inputtext:has(+ .p-inputgroupaddon) {
    border-inline-end-color: transparent !important;
    border-start-end-radius: 0 !important;
    border-end-end-radius: 0 !important;
  }

  .p-inputgroupaddon + .p-inputtext {
    border-inline-start-color: transparent !important;
    border-start-start-radius: 0 !important;
    border-end-start-radius: 0 !important;
  }
}

.p-select {
  display: flex;
  align-items: center;
}

.p-password-toggle-mask-icon {
  cursor: pointer !important;
  z-index: 99;
}
/* tree */
p-tree .p-tree-node-content:has(+ .p-tree-node-children) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 100%;
    /* 8px padding - 16px  */
    right: 15.5px;
    /* background-color: white; */
    z-index: 1;
  }
  /* &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 100%;
    right: 16px;
    background-color: white;
    z-index: 1;
  } */
}

p-tree .p-tree-node-children > p-treenode > .p-tree-node > .p-tree-node-content {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 1px;
    top: 50%;
    /* 8px padding - 16px  */
    right: -8px;
    /* translate: 0 -50%; */
    background-color: black;
    z-index: 1;
  }
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + 1px);
    top: calc(-50% - 1px);
    /* 8px padding - 16px  */
    right: -8px;
    /* translate: 0 -50%; */
    background-color: black;
    z-index: 1;
  }
}
p-tree .p-tree-node-children > p-treenode:nth-child(1) > .p-tree-node > .p-tree-node-content{
  &::after{
    height: 50%;
    top: 0%;
  }
}
.p-tree-node-children{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + 1px);
    top: -15px;
    /* 8px padding - 16px  */
    right: -8px;
    /* translate: 0 -50%; */
    background-color: black;
    z-index: 1;
  }
}