<p-dialog {{ ...thisDialog }}>
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2 flex-1 ps-10 text-xl font-bold text-dark-bg-2">تحويل</div>
  </ng-template>

  <div class="text-dark-bg-2 flex flex-col gap-4 font-medium text-sm">
    <div>
      <label for="productName">نوع الفاتوره</label>
      <app-input-error-message-handler>
        <input
          class="h-[46px]!"
          [disabled]="true"
          pInputText
          id="productName"
          aria-describedby="productName-help"
          placeholder="محلي"
        />
      </app-input-error-message-handler>
    </div>
    <div>
      <label for="productName">تحويل إلي</label>
      <app-input-error-message-handler>
        <p-select [options]="[]" optionLabel="name" placeholder="إختر" class="w-full! h-[46px]!" />
      </app-input-error-message-handler>
    </div>
  </div>
</p-dialog>
