<p-dialog
  [visible]="keyboardService.isNumbersKeyboardVisible()"
  (visibleChange)="keyboardService.isNumbersKeyboardVisible.set($event)"
  (onHide)="closeKeyboard()"
  [draggable]="true"
  [modal]="true"
  [dismissableMask]="true"
  [maskStyleClass]="'w-fit! h-fit!'"
  [style]="{ minWidth: '250px', maxWidth: '300px' }"
  [attr.style]="'--p-mask-background:#375652e5!important;'"
  styleClass="bg-white!"
  class="addition-dialog"
  [contentStyleClass]="` ${isLoading() && 'opacity-50 cursor-wait '}`"
>
  <app-numbers-keyboard />
</p-dialog>
