<div class="flex items-center gap-2 sm:gap-4 text-sm sm:text-base">
  <a
    routerLink="/classes/groups"
    routerLinkActive="sub-nav-active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="border border-dark-line text-center text-dark-bg-1 py-1! flex-1 sm:flex-none px-1 sm:px-7 rounded font-semibold"
    >مستكشف المجموعات</a
  >
  <a
    routerLink="/classes/groups/add"
    routerLinkActive="sub-nav-active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="border border-dark-bg-1 text-center text-dark-bg-1 py-1! flex-1 sm:flex-none px-1 sm:px-7 rounded font-semibold"
    >إضافة مجموعة جديد</a
  >
</div>
