<p class="font-bold text-center text-dark-bg-2 text-lg">
    @switch (placeType()) {
        @case (OrderLocalType.Hut) {
            اختر الكوخ
        }
        @case (OrderLocalType.Room) {
            اختر الغرفة
        }
        @case (OrderLocalType.Table) {
            اختر الطاولة
        }
    }
</p>

<div
    class="flex-1 overflow-auto no-scrollbar"
    appDebounce
    #scroller
    [domEvents]="['scroll']"
    (debounced)="onScroll($event, scroller)"
>
    @switch (placeType()) {
        @case (OrderLocalType.Hut) {
            <div
                class="h-fit grid mt-10 items-center justify-center grid-cols-[repeat(auto-fill,minmax(100px,1fr))] gap-[90px_20px]"
            >
                @for (item of items(); track $index) {
                    <app-hut-card
                        [active]="item.id == tempChosenLocalPlace()?.id"
                        [data]="item"
                        (click)="onSelected(item)"
                        class="max-w-full!"
                    />
                }
            </div>
        }
        @case (OrderLocalType.Room) {
            <div
                class="h-fit grid mt-10 items-center justify-center grid-cols-[repeat(auto-fill,minmax(100px,1fr))] gap-5"
            >
                @for (item of items(); track $index) {
                    <app-room-card
                        [active]="item.id == tempChosenLocalPlace()?.id"
                        [data]="item"
                        (click)="onSelected(item)"
                        class="max-w-full"
                    />
                }
            </div>
        }
        @case (OrderLocalType.Table) {
            <div
                class="h-fit grid mt-10 items-center justify-center grid-cols-[repeat(auto-fill,minmax(100px,1fr))] gap-5"
            >
                @for (item of items(); track $index) {
                    <app-table-card
                        [active]="item.id == tempChosenLocalPlace()?.id"
                        [data]="item"
                        (click)="onSelected(item)"
                        class="max-w-full"
                    />
                }
            </div>
        }
    }
</div>

@switch (placeType()) {
    @case (OrderLocalType.Hut) {
        <div class="grid grid-cols-3 gap-4 border-t border-dark-line pt-4 [&_label]:mb-1 [&_label]:inline-block">
            <!-- reservation time -->
            <div>
                <label for="">مدة الحجز</label>
                <p-select
                    style="--p-select-background: #ffffff"
                    class="w-full border border-dark-line!"
                    [options]="[30, 60, 90, 120, 150, 180]"
                    [ngModel]="reservationMinutes()"
                />
                <!-- (onChange)="onHutDurationChange($event)" -->
            </div>

            <!-- hut name/id -->
            <div>
                <label for="">رقم / اسم الكوخ</label>
                <input
                    type="text"
                    name=""
                    class="w-full border border-dark-line!"
                    disabled
                    [value]="chosenLocalPlace()?.name"
                    pInputText
                    id=""
                />
            </div>

            <!-- hut price -->
            <div>
                <label for="">سعر الكوخ في الساعه</label>
                <input
                    type="text"
                    name=""
                    class="w-full border border-dark-line!"
                    disabled
                    [value]="chosenLocalPlace()?.pricePerHour?.toFixed(2)"
                    pInputText
                    id=""
                />
            </div>
        </div>
    }
}
<div class="mt-5 flex justify-center items-center gap-2 w-full *:px-8! *:py-0.75! *:text-sm! *:font-bold">
    <button pButton severity="secondary" (click)="closeDialog()">
        {{ 'ACTIONS.CONTINUE' | translate }}
    </button>
</div>
