.location-active {
  /* bg-dark-bg-2! */
  background-color: var(--color-dark-bg-2);
  box-shadow: 0px 0px 15px 0px #ffffff80 inset;
  font-weight: bold;
  color: white;
}

.addition-dialog::ng-deep .p-dialog-header {
  padding-bottom: 0 !important;
}

.fade-in {
  & td > * {
    animation: fadeIn 0.5s linear forwards;
  }
}

.scale-in{
  /* jump */
  animation: scale-in 0.5s ease-in-out forwards;
}
@keyframes scale-in {
  0% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
    overflow: hidden;
    max-height: 0;
  }
  100% {
    opacity: 1;
    overflow: visible;
    max-height: 100px;
  }
}
