<router-outlet />

<p-dialog
  header=" "
  [modal]="true"
  [dismissableMask]="true"
  [visible]="isVisible()"
  [style]="{ width: '100%', maxWidth: '800px' }"
  [attr.style]="'--p-mask-background:#1f1d2be5!important;'"
  styleClass="bg-base-bg!"
  (onHide)="closeDialog()"
  contentStyleClass="no-scrollbar"
>
  <div [class]="`flex flex-col gap-6 items-center justify-center ${isLoading() ? 'opacity-70 cursor-wait' : ''}`">
    @switch (currentItem()?.localSpaceType) {
      <!--  -->
      @case (SpaceTypeEnum.Room) {
        <app-room-card class="room-switch-card" [data]="currentItem()?.data!" />
      }
      @case (SpaceTypeEnum.Hut) {
        <app-hut-card class="hut-switch-card mt-12" [data]="currentItem()?.data!" />
      }
      @case (SpaceTypeEnum.Table) {
        <app-table-card  class="w-25" [data]="currentItem()?.data!" />
      }
    }

    <!-- nav -->
    <div class="flex gap-2 justify-center replacement-dialog-nav">
      <p-button
        styleClass=" py-1! w-full   border-transparent! text-sm!"
        label="طاوله"
        class="w-25"
        [attr.style]=""
        [class.replacement-dialog-nav-active]="changeToSpace() == SpaceTypeEnum.Table"
        (onClick)="setChangeToSpace(SpaceTypeEnum.Table)"
      />
      <p-button
        styleClass="  py-1! w-full   border-transparent! text-sm!"
        label="غرفه"
        class="w-25"
        [class.replacement-dialog-nav-active]="changeToSpace() == SpaceTypeEnum.Room"
        (onClick)="setChangeToSpace(SpaceTypeEnum.Room)"
      />
      <p-button
        styleClass="  py-1! w-full    border-transparent! text-sm!"
        label="كوخ"
        class="w-25"
        [class.replacement-dialog-nav-active]="changeToSpace() == SpaceTypeEnum.Hut"
        (onClick)="setChangeToSpace(SpaceTypeEnum.Hut)"
      />
    </div>

    <!-- (Hut | Room | Table) cards -->
    <div class="w-full overflow-auto custom-scroll" (scroll)="onScroll($event)">
      @switch (changeToSpace()) {
        <!--  -->
        @case (SpaceTypeEnum.Table) {
          <div class="flex my-4 gap-8 w-fit pb-2 *:w-25 *:min-w-25 relative z-1">
            @for (table of tables(); track $index) {
              <app-table-card
                [class.active]="
                  table.id === changeToItem()?.data?.id && changeToItem()?.localSpaceType == SpaceTypeEnum.Table
                "
                (click)="
                  chooseItem({
                    data: table,
                    localSpaceType: SpaceTypeEnum.Table,
                  })
                "
                 [data]="table"
              />
            }
          </div>
        }
        <!--  -->
        @case (SpaceTypeEnum.Room) {
          <div class="room-switch-picker flex flex-wrap my-4 gap-3 w-full justify-center pb-2 relative z-1">
            @for (room of rooms(); track $index) {
              <app-room-card
                class="room-switch-card"
                [class.active]="
                  room.id === changeToItem()?.data?.id && changeToItem()?.localSpaceType == SpaceTypeEnum.Room
                "
                (click)="
                  chooseItem({
                    data: room,
                    localSpaceType: SpaceTypeEnum.Room,
                  })
                "
                 [data]="room"
              />
            }
          </div>
        }
        <!--  -->
        @case (SpaceTypeEnum.Hut) {
          <div class="hut-switch-picker flex flex-wrap my-4 w-full justify-center pt-11 pb-2 relative z-1">
            @for (hut of huts(); track $index) {
              <app-hut-card
                class="hut-switch-card"
                [class.active]="
                  hut.id === changeToItem()?.data?.id && changeToItem()?.localSpaceType == SpaceTypeEnum.Hut
                "
                (click)="
                  chooseItem({
                    data: hut,
                    localSpaceType: SpaceTypeEnum.Hut,
                  })
                "
                 [data]="hut"
              />
            }
          </div>
        }
      }
    </div>

    <!-- Hut only form -->
    @if (changeToSpace() == localSpaceTypeEnum.Hut) {
      <form
        [formGroup]="hutChangeFg"
        class="flex w-full *:flex-1 [&_p-select]:h-[46px]! [&_input]:h-[46px]! items-start gap-4 relative z-2"
      >
        <div>
          <label for="productName">مدة الحجز</label>
          <app-input-error-message-handler [fc]="hutChangeFg.get('durationMinutes')">
            <p-select
              [options]="durationMinutesOptions"
              formControlName="durationMinutes"
              placeholder="إختر المجموعه"
              class="w-full!"
            />
          </app-input-error-message-handler>
        </div>
        <div>
          <label for="costPrice">رقم / اسم الكوخ</label>
          <app-input-error-message-handler [fc]="hutChangeFg.get('name')">
            <input
              pInputText
              id="costPrice"
              class="cursor-not-allowed"
              formControlName="name"
              aria-describedby="costPrice-help"
              placeholder="H1"
            />
          </app-input-error-message-handler>
        </div>
        <div>
          <label for="costPrice">سعر الكوخ في الساعة</label>
          <app-input-error-message-handler [fc]="hutChangeFg.get('pricePerHour')">
            <input
              pInputText
              id="costPrice"
              class="cursor-not-allowed"
              formControlName="pricePerHour"
              aria-describedby="costPrice-help"
              placeholder="50.00"
            />
          </app-input-error-message-handler>
        </div>
      </form>
    }

    <!--  -->
    <div class="flex justify-end gap-2">
      <button pButton severity="secondary" (click)="closeDialog()">الغاء</button>
      <button pButton class="app-p-btn" (click)="submitItemChange()">استمرار</button>
    </div>
  </div>
</p-dialog>
