<div
  class="w-full overflow-visible flex items-center justify-end gap-2"
  style="--p-button-primary-background: transparent"
>
  <button
    pButton
    style="--p-button-primary-background: var(--color-dark-line)"
    class="border-dark-line! text-white! py-1! md:px-8! md:flex-none"
    form="usersForm"
    type="submit"
  >
    @if (formMode() === FormMode.Create) {
      {{ 'actions.save' | translate }}
    } @else {
      {{ 'actions.edit' | translate }}
    }
  </button>
  @if (formMode() === FormMode.Update) {
    <a
      routerLink="/users/add"
      pButton
      class="border-dark-line! text-dark-line! py-1! flex-1 md:flex-none md:px-8!"
      variant="outlined"
    >
      {{ 'actions.new' | translate }}
    </a>
  }
</div>

<form id="usersForm" class="mt-6 flex flex-col md:flex-row gap-4" (ngSubmit)="onSubmitForm()" [formGroup]="userFg">
  <!--  -->
  <div class="grid md:grid-cols-2 gap-4 flex-1">
    <div class="md:col-span-1">
      <label for="productName">{{ 'form.userName' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('nameAr')">
        <input
          pInputText
          id="nameAr"
          formControlName="nameAr"
          aria-describedby="productName-help"
          [placeholder]="'form.userName' | translate"
          id="productName"
        />
      </app-input-error-message-handler>
    </div>
    <!--  -->
    <div class="md:col-span-1">
      <label for="productPrice">{{ 'form.phoneNumber' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('phoneNumber')">
        <input
          pInputText
          id="productPrice"
          formControlName="phoneNumber"
          aria-describedby="productPrice-help"
          [placeholder]="'form.phoneNumber' | translate"
        />
      </app-input-error-message-handler>
    </div>
    <!--  -->
    <div class="md:col-span-1">
      <label for="costPrice">{{ 'form.email' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('email')">
        <input
          pInputText
          id="costPrice"
          aria-describedby="costPrice-help"
          formControlName="email"
          [placeholder]="'form.email' | translate"
        />
      </app-input-error-message-handler>
    </div>
    <!--  -->
    <!-- <div class=" md:col-span-1">
      <label for="productAddress">{{'form.address' | translate}}</label>
      <app-input-error-message-handler [fc]="userFg.get('address')">
        <input pInputText id="costPrice" aria-describedby="costPrice-help" formControlName="address" id="productAddress" [placeholder]="'form.address' | translate" />
      </app-input-error-message-handler>
    </div> -->

    <div class="md:col-span-1">
      <label for="productName">{{ 'form.userType' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('groupId')">
        <p-select
          [options]="userTypes()"
          optionValue="id"
          optionLabel="nameAr"
          formControlName="groupId"
          [placeholder]="'form.userType' | translate"
          class="w-full!"
        />
      </app-input-error-message-handler>
    </div>

    <div class="col-span-2 flex items-center h-fit gap-2 pb-1">
      <app-input-error-message-handler [fc]="userFg.get('isActive')" class="w-fit">
        <input type="checkbox" class="accent-dark-line w-5 h-5" name="" id="" formControlName="isActive" />
      </app-input-error-message-handler>
      <label for="productName" class="text-dark-line text-sm font-semibold">{{ 'actions.active' | translate }}</label>
    </div>

    <div class=" ">
      <label for="productName">{{ 'form.cashierCollectionAccount' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('cashierCollectionAccountId')">
        <p-select
          [options]="cashierFinancialAccounts()"
          optionLabel="name"
          optionValue="id"
          formControlName="cashierCollectionAccountId"
          [placeholder]="'form.cashierCollectionAccount' | translate"
          class="w-full!"
        />
      </app-input-error-message-handler>
    </div>
    <div class=" ">
      <label for="productName">{{ 'form.custodyAccount' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('custodyAccountId')">
        <p-select
          [options]="custodyAccounts()"
          optionLabel="name"
          optionValue="id"
          formControlName="custodyAccountId"
          [placeholder]="'form.custodyAccount' | translate"
          class="w-full!"
        />
      </app-input-error-message-handler>
    </div>

    <div class=" ">
      <label for="productName">{{ 'form.cashPaymentAccount' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('cashPaymentAccountId')">
        <p-select
          [options]="cashFinancialAccounts()"
          optionLabel="name"
          optionValue="id"
          formControlName="cashPaymentAccountId"
          [placeholder]="'form.cashPaymentAccount' | translate"
          class="w-full!"
        />
      </app-input-error-message-handler>
    </div>
    <div>
      <label for="productName">{{ 'form.bankPaymentAccount' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('bankPaymentAccountId')">
        <p-select
          [options]="bankFinancialAccounts()"
          optionLabel="name"
          optionValue="id"
          formControlName="bankPaymentAccountId"
          [placeholder]="'form.bankPaymentAccount' | translate"
          class="w-full!"
        />
      </app-input-error-message-handler>
    </div>
  </div>
</form>
