<div
  class="w-full overflow-auto  flex items-center justify-end gap-2"
  style="--p-button-primary-background: transparent"
>
  <button
    pButton
    style="--p-button-primary-background: var(--color-dark-line)"
    class="border-dark-line! text-white! py-1! md:px-8! md:flex-none"
    form="usersForm"
    type="submit"
  >
    @if (formMode() === FormMode.Create) {
      {{ 'actions.save' | translate }}
    } @else {
      {{ 'actions.edit' | translate }}
    }
  </button>
  <button pButton class="border-dark-line! text-dark-line! py-1! flex-1 md:flex-none md:px-8!" variant="outlined">
    {{ 'actions.new' | translate }}
  </button>
</div>

<form id="usersForm" class="mt-6 flex flex-col md:flex-row gap-4" (ngSubmit)="onSubmitForm()" [formGroup]="userFg">
  <!--  -->
  <div class="grid md:grid-cols-2 gap-4 flex-1">
    <div class="col-span-2 md:col-span-1">
      <label for="productName">{{ 'form.userName' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('nameAr')">
        <input
          pInputText
          id="nameAr"
          formControlName="nameAr"
          aria-describedby="productName-help"
          [placeholder]="'form.userName' | translate"
          id="productName"
        />
      </app-input-error-message-handler>
    </div>
    <!--  -->
    <div class="col-span-2 md:col-span-1">
      <label for="productPrice">{{ 'form.phoneNumber' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('phoneNumber')">
        <input
          pInputText
          id="productPrice"
          formControlName="phoneNumber"
          aria-describedby="productPrice-help"
          [placeholder]="'form.phoneNumber' | translate"
        />
      </app-input-error-message-handler>
    </div>
    <!--  -->
    <div class="col-span-2 md:col-span-1">
      <label for="costPrice">{{ 'form.email' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('email')">
        <input
          pInputText
          id="costPrice"
          aria-describedby="costPrice-help"
          formControlName="email"
          [placeholder]="'form.email' | translate"
        />
      </app-input-error-message-handler>
    </div>
    <!--  -->
    <!-- <div class="col-span-2 md:col-span-1">
      <label for="productAddress">{{'form.address' | translate}}</label>
      <app-input-error-message-handler [fc]="userFg.get('address')">
        <input pInputText id="costPrice" aria-describedby="costPrice-help" formControlName="address" id="productAddress" [placeholder]="'form.address' | translate" />
      </app-input-error-message-handler>
    </div> -->

    <div class="col-span-2 md:col-span-1">
      <label for="productName">{{ 'form.userType' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('groupId')">
        <p-select
          [options]="[]"
          optionLabel="name"
          formControlName="groupId"
          [placeholder]="'form.userType' | translate"
          class="w-full!"
        />
      </app-input-error-message-handler>
    </div>

    <div class="col-span-2 flex items-center h-fit gap-2 pb-1">
      <app-input-error-message-handler [fc]="userFg.get('groupId')" class="w-fit">
        <input type="checkbox" class="accent-dark-line w-5 h-5" name="" id="" />
      </app-input-error-message-handler>
      <label for="productName" class="text-dark-line text-sm font-semibold">نشط</label>
    </div>

    <div>
      <label for="productName">{{ 'classes.products.group' | translate }}</label>
      <app-input-error-message-handler [fc]="userFg.get('CHANGE')">
        <p-select
          [options]="bankFinancialAccounts()"
          optionLabel="name"
          optionValue="id"
          formControlName="CHANGE"
          [placeholder]="'CHANGE' | translate"
          class="w-full!"
        />
      </app-input-error-message-handler>
    </div>
  </div>
</form>
