:host {
    display: block;
    height: 100%;
}

.app-layout {
    overflow: hidden !important;
}

.app-layout > router-outlet + * {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}
