<div
  class="w-full overflow-auto flex items-center justify-end gap-2 *:flex-1 *:md:flex-none *:py-1! *:md:px-8!"
  style="--p-button-primary-background: transparent"
>
  <button
    pButton
    style="--p-button-primary-background: var(--color-dark-line)"
    class="border-dark-line! text-white!"
    form="customerForm"
    type="submit"
  >
    @if (formMode() === FormMode.Create) {
      {{ 'ACTIONS.SAVE' | translate }}
    } @else {
      {{ 'ACTIONS.EDIT' | translate }}
    }
  </button>
  <button pButton [routerLink]="'/customers/add'" class="border-dark-line! text-dark-line!" variant="outlined">
    {{ 'ACTIONS.NEW' | translate }}
  </button>
</div>

<form id="customerForm" class="grid md:grid-cols-4 gap-4 flex-1" (ngSubmit)="onSubmitForm()" [formGroup]="customerFg">
  <div class="md:col-span-4">
    <label for="customerName">{{ 'form.customerName' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('nameAr')">
      <input
        pInputText
        id="customerName"
        aria-describedby="customerName-help"
        [placeholder]="'form.customerName' | translate"
        formControlName="nameAr"
      />
    </app-input-error-message-handler>
  </div>
  <div class="md:col-span-2">
    <label for="phoneNumber">{{ 'form.phoneNumber' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('phoneNumber')">
      <input
        pInputText
        id="phoneNumber"
        formControlName="phoneNumber"
        aria-describedby="phoneNumber-help"
        [placeholder]="'form.phoneNumber' | translate"
      />
    </app-input-error-message-handler>
  </div>
  <div class="md:col-span-2">
    <label for="additional-phoneNumber">{{ 'form.secondaryPhoneNumber' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('secondaryMobileNumber')">
      <input
        pInputText
        id="additional-phoneNumber"
        aria-describedby="additional-phoneNumber-help"
        [placeholder]="'form.secondaryPhoneNumber' | translate"
        formControlName="secondaryMobileNumber"
      />
    </app-input-error-message-handler>
  </div>

  <div class="md:col-span-2">
    <label for="commercialRegister">{{ 'form.commercialRegister' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('commercialRegister')">
      <input
        pInputText
        id="commercialRegister"
        formControlName="commercialRegister"
        aria-describedby="commercialRegister-help"
        [placeholder]="'form.commercialRegister' | translate"
      />
    </app-input-error-message-handler>
  </div>
  <div class="md:col-span-2">
    <label for="taxNumber">{{ 'form.taxNumber' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('taxNumber')">
      <input
        pInputText
        id="taxNumber"
        formControlName="taxNumber"
        aria-describedby="taxNumber-help"
        [placeholder]="'form.taxNumber' | translate"
      />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="city">{{ 'FORM.CITY' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('city')">
      <input
        pInputText
        id="city"
        formControlName="city"
        aria-describedby="city-help"
        [placeholder]="'FORM.CITY' | translate"
      />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="district">{{ 'FORM.DISTRICT' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('district')">
      <input
        pInputText
        id="district"
        formControlName="district"
        aria-describedby="district-help"
        [placeholder]="'FORM.DISTRICT' | translate"
      />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="street">{{ 'FORM.STREET' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('street')">
      <input
        pInputText
        id="street"
        formControlName="street"
        aria-describedby="street-help"
        [placeholder]="'FORM.STREET' | translate"
      />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="buildingNumber">{{ 'FORM.BUILDING' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('buildingNumber')">
      <input
        pInputText
        id="buildingNumber"
        formControlName="buildingNumber"
        aria-describedby="buildingNumber-help"
        [placeholder]="'FORM.BUILDING' | translate"
      />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="postalCode">{{ 'form.postalCode' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('postalCode')">
      <input
        pInputText
        id="postalCode"
        formControlName="postalCode"
        aria-describedby="postalCode-help"
        [placeholder]="'form.postalCode' | translate"
      />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="productName">{{ 'FORM.FLOOR' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('numberOfFloor')">
      <input
        pInputText
        id="costPrice"
        formControlName="numberOfFloor"
        aria-describedby="costPrice-help"
        [placeholder]="'FORM.FLOOR' | translate"
      />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="apartment">{{ 'FORM.APARTMENT' | translate }}</label>
    <app-input-error-message-handler [fc]="customerFg.get('apartment')">
      <input
        pInputText
        id="apartment"
        formControlName="apartment"
        aria-describedby="apartment-help"
        [placeholder]="'FORM.APARTMENT' | translate"
      />
    </app-input-error-message-handler>
  </div>

  <div class="flex flex-col justify-end">
    <div class="flex items-center h-fit gap-2 pb-1">
      <app-input-error-message-handler [fc]="customerFg.get('isCompany')">
        <input type="checkbox" class="accent-dark-line w-5 h-5" name="" id="" formControlName="isCompany" />
      </app-input-error-message-handler>
      <label for="productName" class="text-dark-line text-sm font-semibold">{{ 'form.isCompany' | translate }}</label>
    </div>
  </div>
</form>
