<div class="flex justify-between flex-wrap mb-[25px] sticky top-[60px] pt-[10px] mt-[10px] bg-[var(--color-bg)] z-1">
  <div>
    <h2 class="text-[var(--color-primary)] text-[20px] font-[700]">المستخدمين والصلاحيات</h2>
    <div class="flex items-center flex-wrap gap-5 my-4 [&>*]:w-[104px] [&>*]:h-[32px]">
      <button class="btn" [ngClass]="buttonClass" (click)="save()">{{ buttonLabel }}</button>
      <button class="btn" (click)="reset()">جديد</button>
      @if (currentUserId != null && currentUserId !== '') {
        <button class="btn" (click)="delete()">حذف</button>
        <button class="btn" (click)="print()">طباعه</button>
      }
    </div>
  </div>

  <div class="explorer_button">
    <button [routerLink]="'/users-and-permissions/users/explorer'" class="btn btn-primary" style="width:245px !important;">
      مستكشف المستخدمين
    </button>
  </div>
</div>

<form class="box_header mb-7" [formGroup]="userForm">
  <div class="title">بيانات المستخدمين</div>

  <div class="input_group">
    <div class="icons flex items-center justify-end [&>*]:w-[30px] [&>*]:h-[30px] gap-3 [&>*]:bg-[var(--color-bg-icon)] [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:rounded-md text-[#137AA8] [&>*]:cursor-pointer">
      <div class="icon-eye text-[12px]" (click)="previewUserImage()" [class.opacity-40]="!imagePreviewProfile" [class.pointer-events-none]="!imagePreviewProfile">
        <i class="fa-regular fa-eye"></i>
      </div>
      <div class="icon-download text-[12px]" (click)="triggerImageUpload()">
        <i class="fa-solid fa-upload"></i>
      </div>
      <input type="file" hidden #userImageInput accept="image/*" (change)="onFileChange($event)">
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-12 gap-[24px] mb-[20px] mt-[5px]">
    <div class="col-span-12 md:col-span-3">
      <label for="username">اسم المستخدم</label>
      <input type="text" placeholder="اسم المستخدم" id="username" formControlName="userName" maxlength="100" />
      <app-form-error
        [control]="userForm.controls['userName']"
        [errorKey]="'required'"
        [message]="'اسم المستخدم مطلوب'"
      ></app-form-error>
      <app-form-error
        [control]="userForm.controls['userName']"
        [errorKey]="'minlength'"
        [message]="'اسم المستخدم يجب ان يتكون من حرفين علي الاقل'"
      ></app-form-error>
      <app-form-error
        [control]="userForm.controls['userName']"
        [errorKey]="'maxlength'"
        [message]="'اسم المستخدم يجب ان يكون اقل من 100 حرف'"
      ></app-form-error>
      <app-form-error
        [control]="userForm.controls['userName']"
        [errorKey]="'invalidUsername'"
        [message]="'اسم المستخدم يجب ان يحتوي علي حروف وارقام و _ ويجب ان لا يبدأ برقم'"
      ></app-form-error>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="password">كلمه المرور</label>
      <div class="relative">
        <input
          [type]="isShowPassword ? 'text' : 'password'"
          placeholder="كلمه المرور"
          id="password"
          formControlName="password"
          maxlength="20"
        />
        <div
          class="absolute cursor-pointer left-[10px] top-[55%] translate-y-[-50%] text-[#137AA8]"
          (click)="togglePasswordVisibility()"
        >
          @if (!isShowPassword) {
            <i class="fa-regular fa-eye text-[18px]"></i>
          } @else {
            <i class="fa-regular fa-eye-slash text-[18px]"></i>
          }
        </div>
      </div>
      <app-form-error
        [control]="userForm.controls['password']"
        [errorKey]="'required'"
        [message]="'كلمة المرور مطلوبة'"
      ></app-form-error>
      <app-form-error
        [control]="userForm.controls['password']"
        [errorKey]="'minlength'"
        [message]="'كلمة المرور يجب ان تكون 6 حروف علي الاقل'"
      ></app-form-error>
      <app-form-error
        [control]="userForm.controls['password']"
        [errorKey]="'maxlength'"
        [message]="'كلمة المرور يجب ان لا تزيد عن 20 حرف'"
      ></app-form-error>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="branch">الفرع</label>
      <ng-select
        id="branch"
        [items]="branchesList"
        bindLabel="name"
        bindValue="id"
        [loading]="branchesLoading"
        formControlName="branchId"
       
        placeholder="الفرع">
      </ng-select>
      <app-form-error
        [control]="userForm.controls['branchId']"
        [errorKey]="'required'"
        [message]="'الفرع مطلوب'"
      ></app-form-error>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="group">المجموعة</label>
      <ng-select
        id="group"
        [items]="groupsList"
        bindLabel="name"
        bindValue="id"
        [loading]="groupsLoading"
        formControlName="groupId"
        placeholder="المجموعة">
      </ng-select>
      <app-form-error
        [control]="userForm.controls['groupId']"
        [errorKey]="'required'"
        [message]="'المجموعة مطلوبة'"
      ></app-form-error>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="defaultCashBox">الصندوق النقدي الافتراضي</label>
      <ng-select
        id="defaultCashBox"
        [items]="cashLookup.items"
        bindLabel="name"
        bindValue="id"
        [loading]="cashLookup.loading"
        (scrollToEnd)="loadMoreCashAccounts()"
        formControlName="defaultCashBoxAccountId"
        placeholder="الصندوق النقدي الافتراضي">
      </ng-select>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="defaultBankAccount">الحساب البنكي الافتراضي</label>
      <ng-select
        id="defaultBankAccount"
        [items]="bankLookup.items"
        bindLabel="name"
        bindValue="id"
        [loading]="bankLookup.loading"
        (scrollToEnd)="loadMoreBankAccounts()"
        formControlName="defaultBankAccountId"
        placeholder="الحساب البنكي الافتراضي">
      </ng-select>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="defaultWarehouse">المخزن الافتراضي</label>
      <ng-select
        id="defaultWarehouse"
        [items]="warehouseList"
        bindLabel="name"
        bindValue="id"
  
        formControlName="defaultWarehouseId"
        placeholder="المخزن الافتراضي">
      </ng-select>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="defaultPurchaseCashBox">صندوق المشتريات الافتراضي</label>
      <ng-select
        id="defaultPurchaseCashBox"
        [items]="cashLookup.items"
        bindLabel="name"
        bindValue="id"
        [loading]="cashLookup.loading"
        (scrollToEnd)="loadMoreCashAccounts()"
        formControlName="defaultPurchaseCashBoxAccountId"
        placeholder="صندوق المشتريات الافتراضي">
      </ng-select>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="purchaseWarehouse">مخزن المشتريات الافتراضي</label>
      <ng-select
        id="purchaseWarehouse"
        [items]="warehouseList"
        bindLabel="name"
        bindValue="id"
       
        formControlName="purchaseWarehouseId"
        placeholder="مخزن المشتريات الافتراضي">
      </ng-select>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="reservedWarehouse">مخزن الحجز الافتراضي</label>
      <ng-select
        id="reservedWarehouse"
        [items]="warehouseList"
        bindLabel="name"
        bindValue="id"
        
       
        formControlName="reservedWarehouseId"
        placeholder="مخزن الحجز الافتراضي">
      </ng-select>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="customerAccount">حساب العميل الافتراضي</label>
      <ng-select
        id="customerAccount"
        [items]="customersLookup.items"
        bindLabel="name"
        bindValue="accountId"
        [loading]="customersLookup.loading"
        (scrollToEnd)="loadMoreCustomers()"
        formControlName="customerAccountId"
        placeholder="حساب العميل الافتراضي">
      </ng-select>
    </div>

    <div class="col-span-12 md:col-span-3">
      <label for="userStatus">حاله المستخدم</label>
      <ng-select
        id="userStatus"
        [items]="userStatusOptions"
        bindLabel="name"
        bindValue="id"
        formControlName="isActive"
        placeholder="حاله المستخدم">
      </ng-select>
    </div>

    <div class="col-span-12">
      <label for="reference">ملاحظات</label>
      <textarea placeholder="ملاحظات" id="reference" formControlName="notes" maxlength="500"></textarea>
      <app-form-error
        [control]="userForm.controls['notes']"
        [errorKey]="'maxlength'"
        [message]="'الملاحظات يجب ان تكون اقل من 500 حرف'"
      ></app-form-error>
    </div>
  </div>
</form>

<app-shared-confirm-dialog
  [show]="showDeleteDialog"
  [title]="'حذف المستخدم'"
  [message]="'هل أنت متأكد من حذف هذا المستخدم؟ لا يمكن التراجع عن هذا الإجراء.'"
  (confirm)="deleteDialog()"
  (cancel)="showDeleteDialog = false"
></app-shared-confirm-dialog>
