<!-- Table -->
<p-dialog
    [visible]="printerService.isPrinterDialogVisible()"
    (visibleChange)="printerService.isPrinterDialogVisible.set($event)"
    [modal]="true"
    [dismissableMask]="true"
    [style]="{ width: '80%', maxWidth: '300px' }"
    [attr.style]="'--p-mask-background:#1f1d2be5!important;'"
    styleClass="bg-text-lighter!"
    class="addition-dialog"
    [contentStyleClass]="`flex flex-col ${isLoading() && 'opacity-50 cursor-wait'}`"
>
    <ng-template #header>
        <p class="font-bold text-center text-dark-bg-2 text-lg">إختر الطابعة</p>
    </ng-template>
    <div class="flex-1 overflow-auto no-scrollbar">
        <app-print-options />
    </div>

    <ng-template #footer>
        <div class="flex justify-center gap-2 w-full *:px-8! *:py-0.75! *:text-sm! *:font-bold">
            <button
                appLoadingDisabled
                pButton
                form="pickPrinterForm"
                severity="secondary"
                type="button"
                (click)="confirmDialogPrint()"
            >
                {{ 'ACTIONS.PRINT' | translate }}
            </button>
        </div>
    </ng-template>
</p-dialog>
