<div class="flex items-center gap-4">
    <a
      routerLink="/classes/products/add"
      routerLinkActive="products-active-link" [routerLinkActiveOptions]="{exact:true }"
      class="border border-dark-bg-1 text-dark-bg-1 py-1! px-7 rounded font-semibold"
      >إضافة منتج جديد</a>
    <a
      routerLink="/classes/products"
      routerLinkActive="products-active-link" [routerLinkActiveOptions]="{exact:true }"
      class="border border-dark-line text-dark-bg-1 py-1! px-7 rounded font-semibold"
      >مستكشف المنتجات</a
    >
  </div>