 
.doc-input {
  box-shadow: 0px 0px 10px 0px #808080b2 inset;
  background-color: transparent;
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border-radius: 8px;

  & input {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }

  & textarea {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }

  .p-inputgroup {
    box-shadow: none !important;
  }
}