<div
  class="w-full overflow-auto flex items-center justify-end gap-2 *:flex-1 *:md:flex-none *:py-1! *:md:px-8!"
  style="--p-button-primary-background: transparent"
>
  <button
    pButton
    style="--p-button-primary-background: var(--color-dark-line)"
    class="border-dark-line! text-white!"
    form="customerForm"
    type="submit"
  >
    @if (formMode() === FormMode.Create) {
      {{ 'actions.save' | translate }}
    } @else {
      {{ 'actions.edit' | translate }}
    }
  </button>
  <button pButton class="border-dark-line! text-dark-line!" variant="outlined">
    {{ 'actions.new' | translate }}
  </button>
</div>

<form id="customerForm" class="grid md:grid-cols-4 gap-4 flex-1" (ngSubmit)="onSubmitForm()" [formGroup]="userFg">
  <div class="md:col-span-4">
    <label for="customerName">اسم العميل</label>
    <app-input-error-message-handler>
      <input pInputText id="customerName" aria-describedby="customerName-help" placeholder="الاسم" />
    </app-input-error-message-handler>
  </div>
  <div class="md:col-span-2">
    <label for="phoneNumber">رقم الجوال</label>
    <app-input-error-message-handler>
      <input pInputText id="phoneNumber" aria-describedby="phoneNumber-help" placeholder="رقم جوال" />
    </app-input-error-message-handler>
  </div>
  <div class="md:col-span-2">
    <label for="additional-phoneNumber">رقم جوال إضافي</label>
    <app-input-error-message-handler>
      <input
        pInputText
        id="additional-phoneNumber"
        aria-describedby="additional-phoneNumber-help"
        placeholder="رقم جوال"
      />
    </app-input-error-message-handler>
  </div>

  <div class="md:col-span-2">
    <label for="commercialRegister">سجل تجاري</label>
    <app-input-error-message-handler>
      <input pInputText id="commercialRegister" aria-describedby="commercialRegister-help" placeholder="رقم " />
    </app-input-error-message-handler>
  </div>
  <div class="md:col-span-2">
    <label for="taxNumber">رقم ضريبي</label>
    <app-input-error-message-handler>
      <input pInputText id="taxNumber" aria-describedby="taxNumber-help" placeholder="رقم " />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="city">المدينه</label>
    <app-input-error-message-handler>
      <input pInputText id="city" aria-describedby="city-help" placeholder="المدينه " />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="district">الحي</label>
    <app-input-error-message-handler>
      <input pInputText id="district" aria-describedby="district-help" placeholder="الحي " />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="street">الشارع</label>
    <app-input-error-message-handler>
      <input pInputText id="street" aria-describedby="street-help" placeholder="الشارع " />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="buildingNumber">العماره</label>
    <app-input-error-message-handler>
      <input pInputText id="buildingNumber" aria-describedby="buildingNumber-help" placeholder="العماره " />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="postalCode">الرقم البريدي</label>
    <app-input-error-message-handler>
      <input pInputText id="postalCode" aria-describedby="postalCode-help" placeholder="الرقم البريدي " />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="productName">الدور</label>
    <app-input-error-message-handler>
      <input pInputText id="costPrice" aria-describedby="costPrice-help" placeholder="الدور " />
    </app-input-error-message-handler>
  </div>
  <div>
    <label for="apartment">الشقه</label>
    <app-input-error-message-handler>
      <input pInputText id="apartment" aria-describedby="apartment-help" placeholder="الشقه " />
    </app-input-error-message-handler>
  </div>

  <div class="flex flex-col justify-end">
    <div class="flex items-center h-fit gap-2 pb-1">
      <app-input-error-message-handler>
        <input type="checkbox" class="accent-dark-line w-5 h-5" name="" id="" />
      </app-input-error-message-handler>
      <label for="productName" class="text-dark-line text-sm font-semibold">العميل يعتبر شركه</label>
    </div>
  </div>
</form>
