<div class="flex items-center gap-4">
    <a
      routerLink="/storage/purchases/add"
      routerLinkActive="sub-nav-active-link" [routerLinkActiveOptions]="{exact:true }"
      class="border border-dark-bg-1 text-dark-bg-1 py-1! px-7 rounded font-semibold"
      >إضافه مشتريات جديدة </a>
    <a
      routerLink="/storage/purchases"
      routerLinkActive="sub-nav-active-link" [routerLinkActiveOptions]="{exact:true }"
      class="border border-dark-line text-dark-bg-1 py-1! px-7 rounded font-semibold"
      >مستكشف المشتريات</a
    >
  </div>