<h2 class="text-[20px] font-bold mt-4">الحسابات الأفتراضية</h2>

<form (ngSubmit)="save()">
  <div class="table-responsive" (scroll)="onTableScroll()">
    <table>
      <thead>
        <tr class="text-right sticky top-0 bg-white z-10 [&>*]:text-[20px]">
          <th> <span class="text-right text-[16px] font-bold">م</span></th>
          <th> <span class="text-right text-[16px] font-bold">الحساب الأساسي</span></th>
          <th> <span class="text-right text-[16px] font-bold">الحساب المقابل *</span></th>
        </tr>
      </thead>

      <tbody>
        @if (isLoading) {
          <tr>
            <td colspan="3" class="text-center py-5">جاري التحميل...</td>
          </tr>
        } @else {
          @for (item of fixedAccounts; track item.fixedAccountCode; let i = $index) {
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ item?.nameAr }}</td>
              <td>
                <ng-select
                #accountSelect
                  [items]="chartOfAccounts"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="اختر الحساب"
                  [(ngModel)]="item.accountId"
                  [ngModelOptions]="{ standalone: true }"
                  [clearable]="false"
                  [searchable]="true"
                  required
                  appendTo="body"
                  >
                </ng-select>
                @if (submitted && !item.accountId) {
                  <small>الحساب المقابل مطلوب</small>
                }
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="3" class="empty-cell text-center py-5">
                لا توجد بيانات
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <div class="btn_add_reset">
    <button type="submit" class="btn btn-warning" [disabled]="isSaving || isLoading">
      {{ isSaving ? 'جاري الحفظ...' : 'تعديل' }}
    </button>
  </div>
</form>
