.hut-switch-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  column-gap: 12px;
  row-gap: 16px;
  justify-content: center;
  padding-top: calc(48px * 160 / 140);
  margin-top: 1rem;
}
