<div class="flex items-center gap-4">
    <a
      routerLink="/storage/purchases-refunds/add"
      routerLinkActive="sub-nav-active-link" [routerLinkActiveOptions]="{exact:true }"
      class="border border-dark-bg-1 text-dark-bg-1 py-1! px-7 rounded font-semibold"
      >إضافة مرتجع جديد</a>
    <a
      routerLink="/storage/purchases-refunds"
      routerLinkActive="sub-nav-active-link" [routerLinkActiveOptions]="{exact:true }"
      class="border border-dark-line text-dark-bg-1 py-1! px-7 rounded font-semibold"
      >مستكشف المرتجعات</a
    >
  </div>