.inner-invoice-wrap {
      --print-text-gray: #889898;
      border: 1px solid var(--print-text-gray);
      padding: 6px;
      direction: rtl;
      min-width: 100%;
      & *{
        font-size: 16px;
      }
      & .upper-tables-wrapper {
        line-height: 1;
        text-wrap: nowrap;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
      }
      & table {
        border-collapse: collapse;
      }
      & td,
      & th {
        padding: 4px;
      }

      & .border-b {
        border-bottom: 1px solid var(--print-text-gray);
      }

      & .font-bold {
        font-weight: bold;
      }
 
      & .items-table {
        width: 100%;

        & th:nth-child(1),
        & td:nth-child(1) {
          text-align: right;
        }
        & th:nth-child(2),
        & td:nth-child(2) {
          text-align: center;
        }
        & th:nth-child(3),
        & td:nth-child(3) {
          text-align: left;
        }
      }
    }