<div class="outer-invoice-wrap" style="width: 100%; margin: 0 auto" #printableOrderInvoice>
  <div class="mid-invoice-wrapper">
    <style [innerHTML]="sanitizedStyles"></style>
    <div class="inner-invoice-wrap" style="margin: 0 auto; border-radius: 8px">
      <!-- logo -->
      <div
        style="display: flex; align-items: center; justify-content: center; gap: 6px; width: 100%; margin-bottom: 1rem"
      >
        <img
          width="50"
          height="50"
          style="border-radius: 50%; object-fit: cover; aspect-ratio: 1"
          #img
          (load)="onLogoLoad(img)"
          src="/images/logo.png"
          alt=""
        />
        <span>فاتورة كاشير</span>
      </div>
      <!-- upper info -->
      <div class="upper-tables-wrapper">
        <!-- right -->
        <table>
          <tbody>
            <tr class="font-bold">
              <td>رقم الفاتوره</td>
              <td>{{ data()?.invoiceNo }}</td>
            </tr>
            <tr class="font-bold">
              <td>رقم الطلب</td>
              <td>{{ data()?.orderNo }}</td>
            </tr>
            <tr>
              <td class="font-bold">اسم العميل:</td>
              <td>{{ data()?.customer?.name }}</td>
            </tr>
          </tbody>
        </table>
        <!-- left -->
        <table style="height: fit-content">
          <tbody>
            <tr>
              <td colspan="2">{{ data()?.dateTime | date: 'dd/MM/yyyy h:mm a' }}</td>
            </tr>
            <tr class="font-bold">
              <td>نوع الدفع:</td>
              <td>{{ data()?.paymentType ? 'مدفوع' : 'غير مدفوع' }}</td>
            </tr>
            <tr>
              <td class="font-bold">رقم الجوال</td>
              <td>{{ data()?.customer?.phone }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="display: flex; gap: 4px; padding: 4px">
        <div class="font-bold">عنوان العميل</div>
        <div>{{ data()?.customer?.address }}</div>
      </div>

      <!-- items -->
      <div class="items-table-wrapper" style="margin-top: 2rem">
        <table dir="rtl" class="items-table">
          <thead>
            <tr class="border-b">
              <th>الصنف</th>
              <th>الكمية</th>
              <th>الاجمالي</th>
            </tr>
          </thead>
          <tbody>
            @for (item of data()?.items; track $index) {
              <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.unitPrice?.toFixed(2) }}</td>
              </tr>
              @for (item of item.modifiers; track $index) {
                <tr>
                  <td>+ {{ item.name }}</td>
                  <td>{{ item.qty }}</td>
                  <td>{{ item.unitPrice?.toFixed(2) }}</td>
                </tr>
              }
            }
            <tr class="border-b">
              <td>المجموع</td>
              <td></td>
              <td>{{ data()?.summary?.totalUnitPrice?.toFixed(2) }}</td>
            </tr>
            <tr class="border-b">
              <td>الخصم</td>
              <td></td>
              <td>{{ data()?.summary?.discountAmount?.toFixed(2) }}</td>
            </tr>
            <tr class="border-b">
              <td>المحموع بعد الخصم</td>
              <td></td>
              <td>
                {{ getTotalAfterDiscount()?.toFixed(2) }}
              </td>
            </tr>
            <tr class="border-b">
              <td>الضريبة الانتقائية</td>
              <td></td>
              <td>
                {{ this.data()?.summary?.totalSelectiveTax?.toFixed(2) ?? 0 }}
              </td>
            </tr>
            <tr class="border-b">
              <td>الخدمة</td>
              <td></td>
              <td>{{ data()?.summary?.serviceFee?.toFixed(2) }}</td>
            </tr>
            <tr class="border-b">
              <td>حجز الكوخ</td>
              <td></td>
              <td>{{ data()?.summary?.priceForPlace?.toFixed(2) }}</td>
            </tr>
            <tr class="border-b">
              <td>الاجمالي</td>
              <td></td>
              <td>{{ getTotalBeforeTax()?.toFixed(2) }}</td>
            </tr>
            <tr class="border-b">
              <td>الضريبة</td>
              <td></td>
              <td>{{ data()?.summary?.vatAmount?.toFixed(2) }}</td>
            </tr>
            <tr class="border-b" style="border-bottom-width: 2px">
              <td>الاجمالي بالضريبة (الصافي)</td>
              <td></td>
              <td>{{ data()?.summary?.totalNet?.toFixed(2) }}</td>
            </tr>
            <tr class="border-b">
              <td>مدفوع كاش</td>
              <td></td>
              <td>{{ data()?.payments?.payingCash?.toFixed(2) ?? 0 }}</td>
            </tr>
            <tr>
              <td>مدفوع شبكة</td>
              <td></td>
              <td>{{ data()?.payments?.payingNetwork?.toFixed(2) ?? 0 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
