input{
    height: 32px ;
}

.search_box{
    &::after{
        content: '';
        position: absolute;
        left: 54px;
        top: -15px;
        border-style: solid;
        border-color: transparent transparent var(--color-white) transparent;
        border-width: 8px ;
    }
}


.search_input{
    width: 30%;
}
::ng-deep .p-autocomplete {
  width: 100% !important;
input{
    width: 100% !important;
    
}
}


table{
    tbody{
        td{
            text-align: center;
        }
    }
}