/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "@ng-select/ng-select/themes/default.theme.css";

@theme {
  --color-main-bg: #111921;
  --color-secondary-bg: #192633;
  --color-app-blue: #137fec;
  /* base */
  --color-dark-line: #393c49;
  /* bg */
  --color-base-bg: #FAFAFA;
  --color-light-bg: #fff2e8;
  --color-dark-bg-1: #252836;
  --color-dark-bg-2: #1f1d2b;
  --color-form-bg: #2d303e;
  /* text */
  --color-text-dark: #3b5162;
  --color-text-gray: #889898;
  --color-text-light: #d3dce6;
  --color-text-lighter: #e0e6e9;
 }
@import 'primeicons/primeicons.css';
@import './app/styles/fonts.css';
@import './app/styles/layout.css';
@import './app/styles/primeng-overrides/primeng-overrides.css';
@import './app/styles/animations.css';
@import './app/styles/shared.css';



:root {
  --p-paginator-background: transparent !important;
  --p-form-field-border-color: var(--color-text-lighter) !important;
  --p-select-background: transparent !important;
  --p-select-color:var(--color-text-dark) !important;
  /* --p-overlay-select-background: transparent !important; */
  
}
@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@custom-variant electron (&:where(.electron, .electron *));

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Cairo', sans-serif !important;
}
.container {
  margin: 0 auto;
  max-width: 1800px !important;
}
.hg-theme-default .hg-row > div:last-child {
  margin-right: 5px !important;
}
.hg-theme-default .hg-row > div:first-child {
  margin-right: 0px !important;
}


.temp-hidden{
  display: none !important;
}
.glow-pulse {
  box-shadow: 0 0 10px 2px rgba(0, 255, 255, 0.5);
  animation: pulse-glow 2s infinite ease-in-out;
}

@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 0 0 10px 2px rgba(0, 255, 255, 0.271);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 15px 4px rgba(0, 255, 255, 0.7);
    transform: scale(1.02); /* Optional: adds a slight "breathing" effect */
  }
}