<form class="close-daily-journal" [formGroup]="fg" (ngSubmit)="onCloseDaily()">
  <div class="journal-row opacity-70 **:cursor-not-allowed!">
    <div class="journal-field">
      <label class="journal-label">{{ 'DAILY_JOURNAL.PREVIOUS_BALANCE' | translate }}</label>
      <div class="doc-input">
        <input
          disabled
          pInputText
          placeholder="0.0"
          [value]="currentUserDaily()?.value?.dailyJournalPeriods?.openingBalance"
        />
      </div>
    </div>
    <div class="journal-field">
      <label class="journal-label">{{ 'DAILY_JOURNAL.ACCOUNT' | translate }}</label>
      <div class="doc-input">
        <input
          disabled
          pInputText
          placeholder=""
          [value]="currentUserDaily()?.value?.dailyJournalPeriods?.openingBalanceAccountName"
        />
      </div>
    </div>
  </div>

  <div class="journal-row opacity-70 **:cursor-not-allowed!">
    <div class="journal-field">
      <label class="journal-label">{{ 'DAILY_JOURNAL.CUSTODY_BALANCE' | translate }}</label>
      <div class="doc-input">
        <input
          disabled
          pInputText
          placeholder="0.0"
          [value]="currentUserDaily()?.value?.dailyJournalPeriods?.custodyBalance"
        />
      </div>
    </div>
    <div class="journal-field">
      <label class="journal-label">{{ 'DAILY_JOURNAL.ACCOUNT' | translate }}</label>
      <div class="doc-input">
        <input
          disabled
          pInputText
          placeholder=""
          [value]="currentUserDaily()?.value?.dailyJournalPeriods?.custodyAccountName"
        />
      </div>
    </div>
  </div>

  <div class="journal-row">
    <div class="journal-field">
      <label class="journal-label">{{ 'DAILY_JOURNAL.CASH_CLOSING_AMOUNT' | translate }}</label>
      <div class="doc-input">
        <app-input-error-message-handler [fc]="fg.get('cashClosingAmount')">
          <input
            pInputText
            id="cashClosingAmount"
            formControlName="cashClosingAmount"
            aria-describedby="cashClosingAmount-help"
            [placeholder]="'DAILY_JOURNAL.ENTER_AMOUNT' | translate"
          />
        </app-input-error-message-handler>
      </div>
    </div>
    <div class="journal-field opacity-70 **:cursor-not-allowed!">
      <label class="journal-label">{{ 'DAILY_JOURNAL.ACCOUNT' | translate }}</label>
      <div class="doc-input">
        <input pInputText disabled [value]="currentUserDaily()?.value?.dailyJournalPeriods?.cashAccountName" />
      </div>
    </div>
  </div>

  <div class="journal-row">
    <div class="journal-field">
      <label class="journal-label">{{ 'DAILY_JOURNAL.NETWORK_CLOSING_AMOUNT' | translate }}</label>
      <div class="doc-input">
        <app-input-error-message-handler [fc]="fg.get('networkClosingAmount')">
          <input
            pInputText
            id="networkClosingAmount"
            formControlName="networkClosingAmount"
            aria-describedby="networkClosingAmount-help"
            placeholder="Enter amount"
          />
        </app-input-error-message-handler>
      </div>
    </div>
    <div class="journal-field opacity-70 **:cursor-not-allowed!">
      <label class="journal-label">{{ 'DAILY_JOURNAL.ACCOUNT' | translate }}</label>
      <div class="doc-input">
        <input pInputText disabled [value]="currentUserDaily()?.value?.dailyJournalPeriods?.networkAccountName" />
      </div>
    </div>
  </div>

  <div class="journal-notes">
    <label for="closingNotes" class="journal-label">{{ 'DAILY_JOURNAL.NOTES' | translate }}</label>
    <div class="doc-input my-1">
      <textarea
        rows="5"
        cols="30"
        pTextarea
        class="w-full"
        id="closingNotes"
        formControlName="closingNotes"
        aria-describedby="closingNotes-help"
        [placeholder]="'DAILY_JOURNAL.NOTES' | translate"
      ></textarea>
    </div>
  </div>

  <button
    pButton
    style="--p-button-primary-background: var(--color-dark-line)"
    class="border-dark-line! text-white! py-1! md:px-8! w-fit ms-auto mt-4"
    type="submit"
  >
    {{ 'ACTIONS.CLOSE' | translate }}
  </button>
</form>
