<div class="min-h-full h-full overflow-auto custom-scroll">
  <app-section-wrapper class="p-4" styleClass="flex flex-col gap-8">
    <!-- search -->
    <div class="h-fit items-start gap-2 w-full">
      <ng-select
        class="app-select"
        [items]="displayedUsers()"
        (change)="onUserSelected($event)"
        bindLabel="name"
        placeholder="الكل"
        #userSelect
        appDebounce
        [customEvents]="[
          { key: 'searchEvent', value: userSelect.searchEvent },
          { key: 'scrollToEnd', value: userSelect.scrollToEnd },
        ]"
        (debounced)="debouncedUsersSearch($event)"
      />
      <!-- <app-input-error-message-handler [fc]="searchFg.get('searchTerm')">
        <input class="w-full bg-transparent!" pInputText type="text" formControlName="searchTerm" placeholder="بحث" />
        <p-inputgroup-addon>
          <i class="pi pi-filter"></i>
        </p-inputgroup-addon>
        <p-inputgroup-addon>
          <i class="pi pi-search"></i>
        </p-inputgroup-addon>
      </app-input-error-message-handler> -->
    </div>

    @if (currentUser()) {
      <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-4">
        <div class="border border-text-gray flex items-center gap-4 rounded-lg h-8 px-4 text-sm">
          <span class="text-dark-line">اسم المستخدم</span>
          <span class="text-text-gray">{{ currentUser()?.value?.name }}</span>
        </div>
        <div class="border border-text-gray flex items-center gap-4 rounded-lg h-8 px-4 text-sm">
          <span class="text-dark-line">رقم الجوال</span>
          <span class="text-text-gray">{{ currentUser()?.value?.phoneNumber }}</span>
        </div>
        <div class="border border-text-gray flex items-center gap-4 rounded-lg h-8 px-4 text-sm">
          <span class="text-dark-line">إجمالي العجز</span>
          <span class="text-text-gray">{{currentUser()?.value?.totalShortage}}</span>
        </div>
        <div class="border border-text-gray flex items-center gap-4 rounded-lg h-8 px-4 text-sm">
          <span class="text-dark-line">نوع المستخدم</span>
          <span class="text-[#FF383C]">{{ currentUser()?.value?.groupName }}</span>
        </div>
      </section>
      <section
        class="flex nav-items items-center gap-2 sm:gap-4 w-full max-w-125 mx-auto"
        style="
          --p-button-primary-background: var(--color-text-lighter);
          --p-button-primary-border-color: transparent;
          --p-button-primary-color: var(--color-dark-line);
          --p-button-primary-hover-color: #000000;
        "
      >
        @for (link of links(); track $index) {
          <a
            routerLinkActive="active"
            pButton
            class="h-12.5 flex-1 text-center px-1 rounded-lg font-semibold flex items-center justify-center"
            [routerLink]="link.routerLink"
          >
            <span>{{ link.labelKey | translate }}</span>
          </a>
        }
      </section>

      <div>
        <router-outlet />
      </div>
    } @else {
      <p-message
        class="w-full max-w-100 mx-auto [&_.p-message-text]:w-full [&_.p-message-text]:text-center"
        severity="info"
      >
        Pick a user to start
      </p-message>
    }
  </app-section-wrapper>
</div>
