<div class="min-h-full h-full overflow-auto custom-scroll">
  <app-section-wrapper class="p-4" styleClass="flex flex-col gap-8">
    <div class="h-fit items-start gap-2 w-full">
      <ng-select
        class="app-select"
        appLoadingDisabled
        [items]="displayedUsers()"
        (change)="onUserSelected($event)"
        bindLabel="name"
        [placeholder]="'DAILY_JOURNAL.SELECT_USER' | translate"
        #userSelect
        appDebounce
        [customEvents]="[
          { type: 'searchEvent', value: userSelect.searchEvent },
          { type: 'scrollToEnd', value: userSelect.scrollToEnd },
        ]"
        (debounced)="debouncedUsersSearch($event, userSelect.searchTerm)"
      />
    </div>

    @if (currentUser()) {
      <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-4">
        <div class="border border-text-gray flex items-center gap-4 rounded-lg h-8 px-4 text-sm">
          <span class="text-dark-line">{{'FORM.USER_NAME'|translate}}</span>
          <span class="text-text-gray">{{ currentUser()?.name }}</span>
        </div>
        <div class="border border-text-gray flex items-center gap-4 rounded-lg h-8 px-4 text-sm">
          <span class="text-dark-line">{{'FORM.PHONE_NUMBER'|translate}}</span>
          <span class="text-text-gray">{{ currentUser()?.phoneNumber }}</span>
        </div>
        <div class="border border-text-gray flex items-center gap-4 rounded-lg h-8 px-4 text-sm">
          <span class="text-dark-line">{{'FORM.TOTAL_SHORTAGE'|translate}}</span>
          <span class="text-text-gray">{{ currentUser()?.totalShortage }}</span>
        </div>
        <div class="border border-text-gray flex items-center gap-4 rounded-lg h-8 px-4 text-sm">
          <span class="text-dark-line">{{'FORM.USER_TYPE'|translate}}</span>
          <span class="text-[#FF383C]">{{ currentUser()?.groupName }}</span>
        </div>
      </section>

      @if (isOpening()) {
        <section
          class="flex nav-items items-center gap-2 sm:gap-4 w-full max-w-125 mx-auto"
          style="
            --p-button-primary-background: var(--color-text-lighter);
            --p-button-primary-border-color: transparent;
            --p-button-primary-color: var(--color-dark-line);
            --p-button-primary-hover-color: #000000;
          "
        >
          @for (section of visibleSections(); track section.key) {
            <button
              pButton
              type="button"
              class="h-12.5 flex-1 text-center px-1 rounded-lg font-semibold flex items-center justify-center"
              [class.active]="activeSection() === section.key"
              (click)="setActiveSection(section.key)"
            >
              <span>{{ section.labelKey | translate }}</span>
            </button>
          }
        </section>
      }

      <div>
        @if (!isOpening()) {
          <app-manage-open-daily-journal />
        } @else if (activeSection() === ManageDailyJournalSections.deficitReduction) {
          <app-reset-shortage />
        } @else {
          <app-manage-close-daily-journal />
        }
      </div>
    } @else {
      <p-message
        class="w-full max-w-100 mx-auto [&_.p-message-text]:w-full [&_.p-message-text]:text-center"
        severity="info"
      >
        {{ 'DAILY_JOURNAL.PICK_USER_TO_START' | translate }}
      </p-message>
    }
  </app-section-wrapper>
</div>
