<div class="w-full overflow-auto">
  <table class="my-2 sm:my-4 w-full main-table">
    <thead>
      <tr>
        <th>{{ 'DAILY_JOURNAL.DATE' | translate }}</th>
        <th>{{ 'DAILY_JOURNAL.SHORTAGE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (item of shortages(); track $index) {
        <tr [style]="`--ix:${$index}`">
          <td>
            <div>{{ item.openStartDate | date: 'mediumDate' }}</div>
          </td>
          <td class="font-bold">
            <div>{{ item.shortage }}</div>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="flex justify-end mt-4">
    <button
      pButton
      type="button"
      class="border-dark-line! text-white! py-1! md:px-8!"
      style="--p-button-primary-background: var(--color-dark-line)"
      (click)="onSubmit()"
    >
      {{ 'ACTIONS.SAVE' | translate }}
    </button>
  </div>
</div>
